* {
  box-sizing: border-box;
  color: #444;
  font-family: 'Roboto Slab';
}
.todolist-container {
  max-width: 30rem;
  background: linear-gradient(125deg, #fefcea 0%, #eaddbb 100%);
  margin: 3rem auto;
  padding: 1.5rem 2rem 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.15), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
  position: relative;
}

.todolist-container h1 {
  margin: 0 0 1rem;
}

.control-button {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
.control-button:focus {
  outline: none;
}
.control-button img {
  width: 100%;
}

.show-hide {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 2.25rem;
  top: 1rem;
  opacity: 0;
}

.todolist-container:hover .show-hide {
  opacity: 0.25;
}

.todolist-container:hover .show-hide:hover {
  opacity: 0.6;
}

.hidden-todos-count {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.6;
}
